.nav {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
  height: 60px;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;

  .row {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .cart {
    position: relative;

    .cart-badge {
      position: absolute;

      display: flex;
      justify-content: center;
      align-items: center;

      top: -14px;
      right: -14px;
      font-size: 14px;
      background: #6F64F8;
      color: #fff;
      width: 20px;
      height: 20px;
      text-align: center;
      border-radius: 50px;
    }
  }

  #logo, #cart, #wishlist {
    font-size: 18px;
  }
}