* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #F9F9F9;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

label {
  cursor: pointer;
}