@import './reset';

@import './nav';

@import './main';

@import './modal';

@import './overlay';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container-box {
  width: 1200px;
  max-height: 90vh;
  margin: 20px;
}

.visible-flex {
  display: flex;
}